ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 24px;
  padding: 0;
}
.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
